# svr
svr/*
!svr/svr_launch_params.ini
!svr/data/
svr/data/*
!svr/data/profiles/
svr/data/profiles/*
!svr/data/profiles/tempus.ini
!svr/configs
svr/configs/*
!svr/configs/tempusrecords

# node
node_modules/
