# svr
svr/*
!svr/data/
svr/data/*
!svr/data/launcher-config.json
!svr/data/profiles/
svr/data/profiles/*
!svr/data/profiles/tempus.json
!svr/configs
svr/configs/*
!svr/configs/tempusrecords

# node
node_modules/
